html
	head
		title ALT app
		meta(name='google-signin-client_id', content='218840791548-b7d1m8nffcbnajhcagogff93imsqivvd.apps.googleusercontent.com')
	body
		if (!user)
			p 
			| Welcome! Please 
			a(href='/login') log in
			
		else 
			P Hello! user.username
			p View your 
			a(href='/profile') profile

		script(src="/resources/js/jquery-3.1.1.min.js")
		script(src="/resources/js/custom.js")
		script(src='https://apis.google.com/js/platform.js', async='', defer='')