html
	head
		title Node Authentication
	body
		h1 Node Authentication
		p login with:
		a(href='/auth/google') Google

	script(src="/resources/js/jquery-3.1.1.min.js")
	script(src="/resources/js/custom.js")
	script(src='https://apis.google.com/js/platform.js', async='', defer='')