html
	head
		title login
		meta(name='google-signin-client_id', content='218840791548-b7d1m8nffcbnajhcagogff93imsqivvd.apps.googleusercontent.com')
	body
		a(href='/auth/google') Google

	script(src='https://apis.google.com/js/platform.js', async='', defer='')