html
	head
		title ALT app
		meta(name='google-signin-client_id', content='218840791548-b7d1m8nffcbnajhcagogff93imsqivvd.apps.googleusercontent.com')	
	body
		h1 Welcome!

		script(src="/resources/js/jquery-3.1.1.min.js")
		script(src="/resources/js/custom.js")
		script(src='https://apis.google.com/js/platform.js', async='', defer='')