html
	head
		title ALT app

	link(rel='stylesheet', type='text/css', href='resources/css/bootstrap.min.css')
	link(rel='stylesheet', type='text/css', href='resources/css/main.css')
	body
		nav.navbar.navbar-light(style='background-color: #ffff;')
			.nav.navbar-nav
			ul.nav.nav-inline
				li.nav-item
					a.nav-link.active#turnoff(href='http://localhost:8000/') ALT MUSIC GEN

	.container.linkSec
		.row
			.col-lg-12
				a(href='/video') Explore new music
				br
				a(href='/logout') Logout
	.container.karel
		.row
			.col-lg-6#favBar
				h3 Welcome #{user.name}!
				br
				//- p=user.gid
				h5#higher These are your favorites:
				each thing in like
					iframe(class="video" name="abc_frame" width='560', height='315', src=thing.likedvideo, frameborder='0', allowfullscreen='')


	script(src="/resources/js/jquery-3.1.1.min.js")
	//- script(src="/resources/js/custom.js")
	script(src='https://apis.google.com/js/platform.js', async='', defer='')