html
	head
		title ALT app	
	body
		a(href='/video') Music
		a(href='/logout') Logout
		h1 Welcome! #{user.name}
		p=user.id

	script(src="/resources/js/jquery-3.1.1.min.js")
	script(src="/resources/js/custom.js")
	script(src='https://apis.google.com/js/platform.js', async='', defer='')