html
	head
		title ALT app	
	body
		a(href='/video') Music
		a(href='/logout') Logout
		h1 Welcome #{user.name}!
		p=user.gid

		h3 My Faves!
		each thing in like
			iframe(class="video" name="abc_frame" width='560', height='315', src=thing.likedvideo, frameborder='0', allowfullscreen='')


	script(src="/resources/js/jquery-3.1.1.min.js")
	//- script(src="/resources/js/custom.js")
	script(src='https://apis.google.com/js/platform.js', async='', defer='')