html
	head
		title ATL Music Gen
	body
		- for ( i = 0 ; i < video.length ; i++)
			iframe(id=i class="video" name="abc_frame" width='560', height='315', src=video[i].video frameborder='0', allowfullscreen='')
		br
		button#update(type='button') Bruh... Next please!
		button(type='button') Shiiiiit... I lyk dis.

	script(src="/resources/js/jquery-3.1.1.min.js")
	script(src="/resources/js/custom.js")