html
	head
		title ATL Music Gen
	body
		a(href='/logout') Logout
		a(href='/Profile') My Profile
			- for ( i = 0 ; i < video.length ; i++)
				iframe(id=i class="video" name="abc_frame" width='560', height='315', src=video[i].video frameborder='0', allowfullscreen='')
			br
			button#add(type='button') Shiiiiit... I lyk dis.
			button#update(type='button') Bruh... Next please!


	script(src="/resources/js/jquery-3.1.1.min.js")
	script(src="/resources/js/custom.js")